<div [formGroup]="addressForm">
  <mat-form-field class="form-group">
  <input matInput formControlName="addLine1" type="text" placeholder="Address Line 1"/>
  </mat-form-field>
  <mat-form-field class="form-group">
  <input matInput formControlName="addLine2" type="text" placeholder="Address Line 2"/>
  </mat-form-field>
  <mat-form-field class="form-group">
  <input matInput formControlName="city" type="text" placeholder="City"/>
  </mat-form-field>
  <mat-form-field class="form-group">
  <input matInput formControlName="country" type="text" placeholder="Country"/>
  </mat-form-field>
  <mat-form-field class="form-group">
  <input matInput  formControlName="postalcode" type="text" placeholder="Postal Code "/>
  </mat-form-field>
</div>